@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    @apply bg-white font-body;
    font-size: 16px;
    line-height: 1.6;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

@layer components {
}
